### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans, SpectralClustering, DBSCAN
from sklearn.preprocessing import OrdinalEncoder
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# Part 1: Data Exploration

In [2]:
dataset = pd.read_csv('train.csv')

C:\Users\LapCell\AppData\Local\Temp\ipykernel_25644\129250805.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('train.csv')

In [3]:
print(f'Data shape: {dataset.shape}\n')
print(f'Data features: \n{dataset.dtypes}')

Data shape: (100000, 28)

Data features:
ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

#### Dropping irrelevent chosen columns

In [4]:
dataset.drop(columns = ['ID','Customer_ID','Name','SSN','Type_of_Loan'], inplace = True)

#### View unique values for each column

In [5]:
# Function to help in identifying the unique values of a feature and its type to help in feature engineering
def unique_vals_and_type(data: pd.DataFrame, feature: str, cap: int):
  print(f'The unique values of \'{feature}\' feature of type {data[feature].dtype}: {dataset[feature].unique().tolist()[0:cap]}')

for feature in dataset.columns:
  unique_vals_and_type(dataset, feature, 25)

The unique values of 'Month' feature of type object: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August']
The unique values of 'Age' feature of type object: ['23', '-500', '28_', '28', '34', '54', '55', '21', '31', '33', '34_', '7580', '30', '30_', '24', '24_', '44', '45', '40', '41', '32', '33_', '35', '35_', '36']
The unique values of 'Occupation' feature of type object: ['Scientist', '_______', 'Teacher', 'Engineer', 'Entrepreneur', 'Developer', 'Lawyer', 'Media_Manager', 'Doctor', 'Journalist', 'Manager', 'Accountant', 'Musician', 'Mechanic', 'Writer', 'Architect']
The unique values of 'Annual_Income' feature of type object: ['19114.12', '34847.84', '34847.84_', '143162.64', '30689.89', '30689.89_', '35547.71_', '35547.71', '73928.46', '131313.4', '10909427.0', '34081.38_', '34081.38', '114838.41', '114838.41_', '31370.8', '33751.27', '88640.24', '88640.24_', '54392.16', '54392.16_', '8701.545', '8701.545_', '25546.26', '25546.26_']
The unique values of 'Monthly_Inhand_Salary' feature of type float64: [1824.8433333333328, nan, 3037.986666666666, 12187.22, 2612.4908333333333, 2853.3091666666664, 5988.705000000001, 11242.783333333333, 10469.207759388815, 2611.115, 9843.8675, 2825.233333333333, 2948.605833333333, 7266.686666666667, 4766.68, 519.12875, 2415.855, 2942.148333333333, 7591.59, 2898.385, 8079.285, 7449.469346853578, 1512.361666666667, 1828.24, 1074.5845833333333]
The unique values of 'Num_Bank_Accounts' feature of type int64: [3, 2, 1, 7, 4, 0, 8, 5, 6, 9, 10, 1414, 1231, 67, 572, 1488, 91, 528, 1647, 1696, 1338, 649, 889, 1668, 685]
The unique values of 'Num_Credit_Card' feature of type int64: [4, 1385, 5, 1288, 1, 7, 6, 1029, 488, 8, 1381, 898, 3, 518, 1005, 9, 1327, 1189, 2, 10, 514, 943, 262, 809, 932]
The unique values of 'Interest_Rate' feature of type int64: [3, 6, 8, 4, 5, 5318, 15, 7, 12, 20, 1, 433, 14, 32, 16, 17, 5240, 4975, 10, 31, 25, 18, 668, 19, 9]
The unique values of 'Num_of_Loan' feature of type object: ['4', '1', '3', '967', '-100', '0', '0_', '2', '3_', '2_', '7', '5', '5_', '6', '8', '8_', '9', '9_', '4_', '7_', '1_', '1464', '6_', '622', '352']
The unique values of 'Delay_from_due_date' feature of type int64: [3, -1, 5, 6, 8, 7, 13, 10, 0, 4, 9, 1, 12, 11, 30, 31, 34, 27, 14, 2, -2, 16, 17, 15, 23]
The unique values of 'Num_of_Delayed_Payment' feature of type object: ['7', nan, '4', '8_', '6', '1', '-1', '3_', '0', '8', '5', '3', '9', '12', '15', '17', '10', '2', '2_', '11', '14', '20', '22', '13', '13_']
The unique values of 'Changed_Credit_Limit' feature of type object: ['11.27', '_', '6.27', '9.27', '5.42', '7.42', '6.42', '7.1', '11.1', '9.1', '1.99', '-2.01', '-1.01', '-3.01', '2.58', '10.14', '9.14', '9.34', '15.34', '8.34', '11.34', '17.13', '21.13', '18.13', '8.24']
The unique values of 'Num_Credit_Inquiries' feature of type float64: [4.0, 2.0, 3.0, nan, 5.0, 9.0, 8.0, 7.0, 6.0, 0.0, 1.0, 10.0, 1050.0, 11.0, 12.0, 1044.0, 17.0, 1936.0, 13.0, 568.0, 1618.0, 525.0, 14.0, 1251.0, 16.0]
The unique values of 'Credit_Mix' feature of type object: ['_', 'Good', 'Standard', 'Bad']
The unique values of 'Outstanding_Debt' feature of type object: ['809.98', '605.03', '1303.01', '632.46', '943.86', '548.2', '352.16', '1704.18', '1377.74', '421.43', '1328.93', '1328.93_', '950.36', '179.22', '2602.69', '758.44', '818.22', '1296.64', '1283.37', '1283.37_', '107.41', '2430.21', '881.4', '1672.43', '76.23']
The unique values of 'Credit_Utilization_Ratio' feature of type float64: [26.822619623699016, 31.94496005538421, 28.60935202206993, 31.377861869582357, 24.797346908844982, 27.26225871052017, 22.53759303178384, 23.93379480196552, 24.46403063758457, 38.550848433956325, 33.22495078663659, 39.18265565546884, 34.97789474709241, 33.38101020065065, 31.131701611553307, 32.933856293622235, 28.616734823006844, 41.70257342393906, 26.519815391546494, 39.50164810812735, 31.37614957421204, 39.78399345802119, 38.068623627698585, 38.37475294778511, 26.54422872407309]
The unique values of 'Credit_History_Age' feature of type object: ['22 Years and 1 Months', nan, '22 Years and 3 Months', '22 Years and 4 Months', '22 Years and 5 Months', '22 Years and 6 Months', '22 Years and 7 Months', '26 Years and 7 Months', '26 Years and 8 Months', '26 Years and 9 Months', '26 Years and 10 Months', '26 Years and 11 Months', '27 Years and 0 Months', '27 Years and 1 Months', '27 Years and 2 Months', '17 Years and 9 Months', '17 Years and 10 Months', '17 Years and 11 Months', '18 Years and 1 Months', '18 Years and 2 Months', '18 Years and 3 Months', '18 Years and 4 Months', '17 Years and 3 Months', '17 Years and 4 Months', '17 Years and 5 Months']
The unique values of 'Payment_of_Min_Amount' feature of type object: ['No', 'NM', 'Yes']
The unique values of 'Total_EMI_per_month' feature of type float64: [49.57494921489417, 18.816214573128885, 246.9923194537421, 16.415451659824875, 0.0, 15015.0, 15515.0, 137.6446054014217, 911.2201793459374, 23834.0, 32662.0, 70.47833267207261, 226.8927919215432, 46.61612907334207, 16415.0, 65.00817428651536, 135.17337097171767, 80357.0, 124.39208242092045, 36.54819717138717, 101.3286373638512, 45.14129822463578, 103.03756035536594, 629.8156531464217, 49.57206224445275]
The unique values of 'Amount_invested_monthly' feature of type object: ['80.41529543900253', '118.28022162236736', '81.699521264648', '199.4580743910713', '41.420153086217326', '62.430172331195294', '178.3440674122349', '24.785216509052056', '104.291825168246', '40.39123782853101', '58.51597569589465', '99.30622796053305', '130.11542024292334', '43.477190144355745', '70.10177420755677', '218.90434353388733', '168.413702679309', '232.86038375993544', '__10000__', '825.2162699393922', '430.9475278803298', '257.80809942568976', '263.17416316163934', '81.22885871073616', '124.88181990234848']
The unique values of 'Payment_Behaviour' feature of type object: ['High_spent_Small_value_payments', 'Low_spent_Large_value_payments', 'Low_spent_Medium_value_payments', 'Low_spent_Small_value_payments', 'High_spent_Medium_value_payments', '!@9#%8', 'High_spent_Large_value_payments']
The unique values of 'Monthly_Balance' feature of type object: ['312.49408867943663', '284.62916249607184', '331.2098628537912', '223.45130972736786', '341.48923103222177', '340.4792117872438', '244.5653167062043', '358.12416760938714', '470.69062692529184', '484.5912142650067', '466.46647639764313', '465.6762241330048', '444.8670318506144', '481.505261949182', '464.8806778859809', '356.07810855965045', '1043.3159778669492', '998.8692967863226', '715.741367403555', '426.5134106068658', '810.7821526659284', '963.9215811205684', '968.5555173846187', '895.494583180492', '433.6047729627723']
The unique values of 'Credit_Score' feature of type object: ['Good', 'Standard', 'Poor']

#### Transforming Features & Filtering Entries

Helper Functions

In [6]:
# Encode the Month feature to numerical values
def encode_month(month):
  calendar = {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6, 'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12}
  return calendar.get(month)

# Removes special characters (underscores) from numeric data while ignoring nan values
def remove_underscores_numeric(data: pd.DataFrame, feature: str, remove_neg: bool = False):
  if data[feature].dtype != 'object': return
  data[feature] = pd.to_numeric(data[feature].str.replace('_', ''), errors = 'coerce')
  if remove_neg: data.loc[data[feature] < 0, feature] = np.nan

# Counts outliers which are k standard deviations away from the mean
def count_outliers(data: pd.DataFrame, feature: str, k: int):
  m,s = data[feature].mean() , data[feature].std()
  return np.sum((data[feature] < m - k*s) | (data[feature] > m + k*s))

# Clips outliers which are k standard deviations away from the mean
def clip_outliers(data: pd.DataFrame, feature: str, k: int):
  m,s = data[feature].mean() , data[feature].std()
  data[feature] = data[feature].clip(lower = m - k*s, upper = m + k*s)

Convert numerical features from 'object' type to their orignal type and replacing missing data of each with NaN.

In [7]:
dataset['Month'] = dataset['Month'].apply(encode_month).astype(int)
remove_underscores_numeric(dataset, 'Age', remove_neg = True)
remove_underscores_numeric(dataset, 'Num_of_Loan', remove_neg = True)
remove_underscores_numeric(dataset, 'Num_of_Delayed_Payment')
dataset.loc[dataset['Num_Bank_Accounts'] < 0, 'Num_Bank_Accounts'] = np.nan
dataset['Num_Credit_Inquiries'] = pd.to_numeric(dataset['Num_Credit_Inquiries'], errors = 'coerce')
remove_underscores_numeric(dataset, 'Annual_Income')
remove_underscores_numeric(dataset, 'Changed_Credit_Limit')
remove_underscores_numeric(dataset, 'Outstanding_Debt')
remove_underscores_numeric(dataset, 'Amount_invested_monthly')
remove_underscores_numeric(dataset, 'Monthly_Balance')
remove_underscores_numeric(dataset, 'Num_of_Delayed_Payment')

Cleaning string data and converting them to encoded categorical variables.

In [ ]:
dataset['Occupation'] = dataset['Occupation'].replace(to_replace = '_______', value = np.nan)
dataset['Credit_Mix'] = dataset['Credit_Mix'].replace(to_replace = '_', value = np.nan)
# Replace the Credit History Age column with years and months.
temp_df = dataset['Credit_History_Age'].str.extract(r'(?P<Years>[\d]?[\d]) Years and (?P<Months>[\d]?[\d]) Months', expand = True)
dataset['Credit_History_Age'] = temp_df['Years'].astype('Int64') + (temp_df['Months'].astype('Int64') / 12)
dataset['Payment_of_Min_Amount'] = dataset['Payment_of_Min_Amount'].replace(to_replace = 'NM', value = np.nan)
dataset['Payment_Behaviour'] = dataset['Payment_Behaviour'].replace(to_replace = '!@9#%8', value = np.nan)

In [ ]:
# Encoding categorical variables
occupation_encoder = OrdinalEncoder()
dataset['Occupation'] = occupation_encoder.fit_transform(dataset['Occupation'].values.reshape(-1,1))

Describe the dataset to see summaries of each feature.

In [ ]:
dataset.describe()

Dealing with missing values and outliers

In [ ]:
# Count outliers and NA values for each numerical feature and store results in a dataframe
features, outliers, percent_outliers, nas, percent_nas = [],[],[],[],[]

for f in dataset.columns:
  features.append(f)
  if (dataset[f].dtype != 'object'):
    outliers.append(count_outliers(dataset, f, 3))
    percent_outliers.append(outliers[-1]/dataset.shape[0] * 100)
  else:
    outliers.append(np.nan)
    percent_outliers.append(np.nan)
  nas.append(dataset[f].isna().sum())
  percent_nas.append(nas[-1]/dataset.shape[0] * 100)

pd.DataFrame({'Feature': features, 'Outliers': outliers, 'Outlier%': percent_outliers, 'NA': nas, 'NA%': percent_nas})

All outliers seem to be within the 5% range of the whole dataset, so we will leave them as they might belong to the original distribution. On the other hand, NA values will cause problems, and will incur a noticable loss of information if we just delete the rows or columns which have NA values, so we will use data imputation by iterative multivariate imputation.

In [ ]:
imputer = IterativeImputer(max_iter = 10, random_state = 42)
imputed_data = imputer.fit_transform(dataset)
dataset = pd.DataFrame(imputed_data, columns = dataset.columns)